{{ define "base/head.tmpl" }}
<!DOCTYPE html>
<html>
<head data-suburl="{{AppSubURL}}">

	<link rel="shortcut icon" href="{{AppSubURL}}/img/favicon.png" />
	
	<title>{{if .Title}}{{.Title}} - {{end}}{{AppName}}</title>
</head>
<body>

</body>
</html>
{{ end }}