{{ define "apis/index.tmpl" }}
{{ template "base/head.tmpl" .}}
<div>
	<div><button>新增API</button></div>
	<div>
		<p>项目名称：{{.ProjectName}}</p>
		<p>API列表：</p>
	</div>
	<div>
		{{ $n := len .APIs }}
		{{ if gt $n 0 }}
		<table>
			<thead>
				<tr>
					<td>API编号</td>
					<td>API名称</td>
					<td>路径</td>
					<td>请求方法</td>
					<td>描述信息</td>
					<td>状态</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				{{range .APIs}}
				<tr>
					<td><a href="/api?id={{.ID}}">{{.ID}}</a></td>
					<td>{{.Name}}</td>
					<td>{{.Path}}</td>
					<td>{{.HttpMethod}}</td>
					<td>{{.Description}}</td>
					<td>{{StatusName .Status}}</td>
					<td><button>{{APIStatusOperationName .Status}}</button></td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{else}}
		无数据
		{{end}}
	</div>
</div>
{{ end }}