{{ define "api/index.tmpl" }}
{{ template "base/head.tmpl" .}}
<div>
	<div>
		<p>项目名称：{{.Data.ProjectName}}</p>
		<p>API参数说明：</p>
	</div>
	<div>
		{{ $n := len .Data.Name }}
		{{ if gt $n 0 }}
		<div>
			<p>API名称：{{.Data.Name}}</p>
			<p>请求路径：{host}{{.Data.Path}}</p>
			<p>请求方法：{{.Data.HttpMethod}}</p>
			<p>状态：{{StatusName .Data.Status}}</p>
			<p>API描述：{{.Data.Description}}</p>
		</div>
		<div>
			<p>Header参数：</p>
			<table>
				<thead>
					<tr>
						<td>参数编号</td>
						<td>参数名</td>
						<td>参数类型</td>
						<td>是否负数</td>
						<td>是否必填</td>
						<td>描述</td>
						<td>样例</td>
					</tr>
				</thead>
				<tbody>
				{{ range .Data.RespGetAPIParamsData.Headers }}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.Key}}</td>
					<td>{{.FieldType}}</td>
					<td>{{.IsList}}</td>
					<td>{{.Required}}</td>
					<td>{{.Description}}</td>
					<td>{{.Sample}}</td>
				</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
		<div>
			<p>Query参数：</p>
			<table>
				<thead>
					<tr>
						<td>参数编号</td>
						<td>参数名</td>
						<td>参数类型</td>
						<td>是否负数</td>
						<td>是否必填</td>
						<td>描述</td>
						<td>样例</td>
					</tr>
				</thead>
				<tbody>
				{{ range .Data.RespGetAPIParamsData.Queries }}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.Key}}</td>
					<td>{{.FieldType}}</td>
					<td>{{.IsList}}</td>
					<td>{{.Required}}</td>
					<td>{{.Description}}</td>
					<td>{{.Sample}}</td>
				</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
		<div>
			<p>请求参数：</p>
			<table>
				<thead>
					<tr>
						<td>参数编号</td>
						<td>父节点编号</td>
						<td>参数名</td>
						<td>参数类型</td>
						<td>是否负数</td>
						<td>是否必填</td>
						<td>描述</td>
						<td>样例</td>
					</tr>
				</thead>
				<tbody>
					{{ range .Data.RespGetAPIParamsData.Requests }}
					<tr>
						<td>{{.ID}}</td>
						<td>{{.ParentID}}</td>
						<td>{{.Key}}</td>
						<td>{{.FieldType}}</td>
						<td>{{.IsList}}</td>
						<td>{{.Required}}</td>
						<td>{{.Description}}</td>
						<td>{{.Sample}}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
		<div>
			<p>返回参数：</p>
			<table>
				<thead>
					<tr>
						<td>参数编号</td>
						<td>参数名</td>
						<td>参数类型</td>
						<td>是否负数</td>
						<td>是否必填</td>
						<td>描述</td>
						<td>样例</td>
					</tr>
				</thead>
				<tbody>
				{{ range .Data.RespGetAPIParamsData.Responses }}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.Key}}</td>
					<td>{{.FieldType}}</td>
					<td>{{.IsList}}</td>
					<td>{{.Required}}</td>
					<td>{{.Description}}</td>
					<td>{{.Sample}}</td>
				</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
		{{else}}
		无数据
		{{end}}
	</div>
</div>
{{ end }}